body {
text-align: center;
margin: 0;
}

h1 {
	font-family: Raleway;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin-right: 20px;
    margin-left: 20px;

}


h2,h3 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif";
    line-height: 26px;
	font-size: 18px;

}

header {
	  background-color: #F15B31;
	  color: #FFFFFF;
	  padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

main { 
	width: 850px;
	margin: 35px auto;

}

img {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;

}
